.home-container {
    gap: 10px;
    padding: 10px;
}

.coin {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {
    .home-container {
        grid-template-columns: 1fr 1fr;
    }
}