.category-card {
    height: 160px;
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    border-radius: 8px;
}

.flare {
    position: absolute;
    top: 10px;
    left: 85px;
    width: 80%;
    height: 85%;
    /* background-color: rgba(0, 0, 0, 0.2); */
    background: linear-gradient(to right, rgba(29, 29, 29, 0.096), 80%, rgba(0, 0, 0, 0));
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 80%);
    border-radius: 150px 0px 0px 20px; 
}

.img-wrapper {
    width: 48px;
    height: 48px;
    padding-left: 20px;
    padding-right: 25px;
}

.category-text {
    color: #fff;
}

.category-card__title {
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.category-card__descr {
    margin: 0;
    padding: 0;
    padding-right: 15px;
}