.modal-container {
    padding: 35px;
}

.modal {
    max-height: 470px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 35px;
    padding-right: 5px;
}

.modal__title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #232036;
}

.modal__descr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #414141;
}

.modal__descr-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #E7E7E7;
}

.modal__checkbox {
    margin-bottom: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #686868;
}

.policy--label {
    padding-left: 14px;
}

.modal__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}