.game {
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
    color: #fff;
}

.progress {
    margin: 0 auto;
    width: 80%;
    height: 10px;
    border-radius: 30px;
    background-color: #e8e8e8;
    margin-bottom: 25px;
}

.progress__inner {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: #12a4e7;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, rgb(231, 18, 231) 0%, rgb(255, 238, 0) 100%);
}

.game__title {
    font-family: serif;
    text-align: center;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.game-list {
    margin-left: 0;
    padding-left: 0;
}

.game__question {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.479);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}