.game {
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

.progress {
    height: 10px;
    border-radius: 30px;
    background-color: #e8e8e8;
    margin-bottom: 25px;
}

.progress__inner {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: #12a4e7;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, rgb(18, 164, 231) 0%, rgba(0, 212, 255, 1) 100%);
}

.game__title {
    font-family: serif;
    text-align: center;
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.game__question {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.game__question:hover {
    border: 2px solid rgba(27, 140, 192, 0.3);
}