* {
    
    font-family: 'Mulish', sans-serif;
}

#root {
    height: 100%;
}

.app {
    background-color: #4158D0;
    background-image: linear-gradient(to right, rgb(248, 87, 166), rgb(255, 88, 88));    
    height: 100%;
    overflow: auto;
}

.vkuiPanel .vkuiPanel__in, .vkuiPanel::after {
    background-color: transparent;
}

.vkuiPanelHeader__in {
    background-color: transparent;
}

